<script type="javascript/ractive" id="myshare-tpl">
	<div class="container">
		我的分享
		<div id="chart_line" class="chart_l"></div>
</div>
<hr/>
<div class="main-table">
<table class="xxtable table table-striped"></table>
</div>
</script>