<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	 <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
    
    <link rel="stylesheet" href="/stylesheets/page/contact/index.css">
    <style>
	.column1{
		margin-left:200px;
		width:800px;
		height:500px;
	}
	.shouye{
		position:absolute;
		right:10%;
	}
	body{
		background:url('/images/my.jpg');
		background-position: 100% 100%;
	}
    </style>
</head>
<body>
	<a href="/" class="shouye">返回首页</a>
	<form action="/contact/addYijian" id="yijianfankun" method="post">
		<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">	<h1>欢迎对我们进行意见反馈</h1></div>
			<div class="col-md-3"></div>
		</div>
				<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">	
<label for="">建议：</label>
<textarea name="jynr" id="pingjia" required cols="100" rows="8"></textarea>
			</div>
			<div class="col-md-3"></div>
		</div>
	
	</div>
	
	<hr>

		<div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-5">	
				<label id="pj">       
                   评价
                </label>

            <div class="radio">
            
                <label>
                    <input type="radio" name="mycd" required="required"  value="1" >
                   非常满意
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="mycd"  required="required" value="2">
                  较满意
                </label>
            </div>
           <div class="radio">
                <label>
                    <input type="radio" name="mycd" required="required"  value="3" >
                   满意
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="mycd" required="required"  value="4">
                   一般
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="mycd" required="required"  value="5" >
               不满意
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="mycd" required="required"  value="6">
                  非常不满意
                </label>
            </div>
			</div>
			<div class="col-md-3"></div>
		</div>
	
	</div>
		
		<hr>
			<button style="margin:1px 20px 1px 500px;" class="btn btn-primary">提交</button>
			<button type="reset" class="btn btn-warning">重置</button>
	</form>
	
</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/page/contact/index.js"></script>
</html>