<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>成功页面</title>
</head>
<body>
	<%=title%>
	<div class="message">
	
</div>
<script type="javascript/ractive" id="message-tpl">

	页面将在{{time}}秒后跳转到首页
</script>
</body>

<script src="/javascripts/lib/r.js" data-main="/javascripts/page/register/success.js" ></script>

</html>