<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	 <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/common/dataTables.bootstrap.min.css">
    
    <link rel="stylesheet" href="/stylesheets/page/current_flow/index.css">
    <style>
	.column1{
		margin-left:200px;
		width:800px;
		height:500px;
	}
	.shouye{
		position:absolute;
		right:10%;
	}
    </style>
</head>
<body>
	<a href="/" class="shouye">返回首页</a>
	<h1>欢迎进入家睿家教大学生兼职信息交流平台。</h1>
		<div id="chart_1" class="column1">	<hr>
		
	</div>
		<hr>
		
	</div>
</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/page/current_flow/index.js" ></script>
</html>