<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title><%=title%></title>
	 <link rel="stylesheet" href="/stylesheets/common/bootstrap.min.css">
     <link rel="stylesheet" href="/stylesheets/common/dataTables.bootstrap.min.css">
    
    <link rel="stylesheet" href="/stylesheets/page/today_reco/index.css">
    <style>
	.column1{
		margin-left:200px;
		width:800px;
		height:500px;
	}
	.shouye{
		position:absolute;
		right:10%;
	}
    </style>
</head>
<body>
	<a href="/" class="shouye">返回首页</a>

	<hr>
		<div id="chart_pie1" style="font-size:40px;text-align:center;" >
		<span style="color:gold;">功能</span> <span style="color:blue;">即将上线，</span><span style="color:purple;">尽请期待！！！！</span>
	</div>
		<hr>
		
	</div>
</body>
<script src="/javascripts/lib/r.js" data-main="/javascripts/page/today_reco/index.js" ></script>
</html>